
@font-face {
  font-family: openSans;
  src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
body {
  margin: 0;
  font-family: openSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth !important;
}
